.topnav {
    overflow: hidden;
    background-color: rgb(201, 59, 59);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(180, 20, 20);
    color: black;
  }
  